AOAI_ENDPOINT_URL = "https://XXXXX.openai.azure.com/"
AOAI_DEPLOYMENT_NAME = "gpt-4o-global-standard"
AOAI_EMBEDDING_DEPLOYMENT_NAME = "text-embedding-ada-002-2"
AOAI_APIVERSION = "2024-10-21" #"2024-05-01-preview"
AI_SEARCH_ENDPOINT = "https://XXXXX.search.windows.net"
AI_SEARCH_KEY = "XXXXXX"
AI_SEARCH_INDEX_NAME = "large-document-qa"
# DOCUMENTINTELLIGENCE_ENDPOINT = "https://XXXXX.cognitiveservices.azure.com/"
# DOCUMENTINTELLIGENCE_API_KEY = "XXXXX"